@model WebApp.Models.Serie

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<h4>Serie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="Id" class="form-control" type="hidden" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlCapa" class="control-label"></label>
                <input asp-for="UrlCapa" class="form-control" />
                <span asp-validation-for="UrlCapa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @Html.DropDownListFor(x => x.Status, Html.GetEnumSelectList(typeof(WebApp.Models.Enums.StatusSerie)), new { @class = "form-control" })
                <span asp-validation-for="Status" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listar">Voltar para listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
