@model WebApp.Models.Episodio

@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<h4>Episodio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="SerieId" class="form-control" type="hidden" />

            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssistidoEm" class="control-label"></label>
                <input asp-for="AssistidoEm" class="form-control" />
                <span asp-validation-for="AssistidoEm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>    
    @Html.ActionLink("Voltar para listagem", "Listar", new { serieId = Model.SerieId })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
